body {
    display: flex;
    flex-flow: row wrap;
}
div {
    $border-round: 4px;
    // border: 1px solid #ccc;
    // border-radius: $border-round;
    flex-grow: 1;
    min-width: 3in;
    min-height: 2in;
    img {
		width: 100%;
		height: auto;
		vertical-align: bottom;
		border-radius: $border-round;
    }
}
