body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

div {
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 3in;
  min-height: 2in; }
