@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

/*
TODO:
--> Get amp logos with high enough resolution that will not give highest quality results on any platform, but acceptable on most. Get 220 x 70

For the header, text on top of an image is what the big website guys are doing.
*/

.flexBox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

body{
    background: black;
    /*When there's padding on the left and right sides,
    when the browser is closed as much as it can go, the Amp
    logo gets cut off on the right side and not the left side
    so only pad on the top and bottom. A maybe-permanent shim*/
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
    
}

/* Half my kingdom for some SCSS. (I don't have a kingdom, so I'm safe.) --SK */

.color-cyan header, .color-cyan header a, .color-cyan header a:hover {
    color: #00ffff;
}
.color-cyan nav a {
    border-color: #00ffff;
}
.color-cyan #logoImgContainer path {
    fill: #00ffff;
}

.color-green header, .color-green header a, .color-green header a:hover {
    color: #33ff00;
}
.color-green nav a {
    border-color: #33ff00;
}
.color-green #logoImgContainer path {
    fill: #33ff00;
}

.color-magenta header, .color-magenta header a, .color-magenta header a:hover {
    color: #ff33cc;
}
.color-magenta nav a {
    border-color: #ff33cc;
}
.color-magenta #logoImgContainer path {
    fill: #ff33cc;
}

.color-pink header, .color-pink header a, .color-pink header a:hover {
    color: #ff0066;
}
.color-pink nav a {
    border-color: #ff0066;
}
.color-pink #logoImgContainer path {
    fill: #ff0066;
}

.color-orange header, .color-orange header a, .color-orange header a:hover {
    color: #ff9900;
}
.color-orange nav a {
    border-color: #ff9900;
}
.color-orange #logoImgContainer path {
    fill: #ff9900;
}

.color-yellow header, .color-yellow header a, .color-yellow header a:hover {
    color: #ffcc00;
}
.color-yellow nav a {
    border-color: #ffcc00;
}
.color-yellow #logoImgContainer path {
    fill: #ffcc00;
}


#logoLockup{
    
}

#logoImgContainer{
    display:inline-block;
}

.myLogo{
    fill: #ffffff;
}

/*make sure that CSS and HTML agree on width and height always for everything*/
/*
#logoImgContainer img{
    width: 104px; 
    height: auto;
    
}
*/

/*
@media all and (max-width: 103px) {
  #logoImgContainer img{
      
      height: auto;
  }
}
*/

#logoText{
    text-align: left;
    margin-left:20px;
    width:300px;
    display:inline-block;
}

.tile {
    width: 250px;
    height: 250px;
    margin: 16px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

header {
    text-align: center;
    background: black;
}

.featureBorder {
    margin-bottom: 0px;
    background: black;
    padding-top: 0px;
    /*padding-bottom: 20px;*/
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    border-top: 1px solid #2e2e2e;
    height: 1px;
}

#featureSection{
    color:white;
}

.featureLogo{
    align-self:center;
}

.featureImageGroup{
    
}

#featureSectionBottomBorderContainer {
    margin:0px;
    padding:0px;
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
}

nav{
    user-select: none;
}

ul {
    padding:0;
}

nav li{
    display: inline-block;
    list-style: none;
    margin:0px;
    padding:12px;
    font-size: 10pt;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-color: #ffffff;
}

nav li a{
    display: block;
    width: 70px;
    padding: 5px 15px;
    text-decoration: none;
    border: 2px solid;
    border-radius: 12px;
    
}

nav a:hover, nav a:focus {
    color: #fff;
}

nav a:active {
    
}

#everythingBelowFeatureSection{
    position: absolute;
    z-index: 2;
}

#tilesContainer {
  background: black;
    
}

/*The tiles*/
#tile1{
    background: #ff33cc;
}

#tile2{
    background: #00ccff;
}

#tile3{
    background: #ff9900;
}

#tile4{
    background: #33cc00;
}

#tile5{
    background: #ffcc00;
}

#tile6{
    background: #cc00ff;
}

#tile7{
    background: #333333;
}

#tile8{
    background: #ff0066;
}

#branding{
    background: #fff;
}
